/*General Website Layout*/
/*Change font and background color*/
body{
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    /*Removes vertical scroll bar*/
    overflow-x:hidden;
}
/*Top bar styles*/
.topMenuBar{
    background-color: #C62828;
    overflow:hidden;
    height: 63px;
}
/*Style Top bar links*/
.topMenuBar a{
    float:left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding:13px 16px;
    text-decoration: none;
    font-size: 17px;
}
/*Set only top padding for the unordered list*/
.topMenuBar ul{
    margin: 8px 0 0 0;
    /*Remvoe bullet points*/
    list-style: none;
}
/*Link hover*/
.topMenuBar a:hover{
    background-color: #f4f4f4;
    color: #000;
}
/*All text and objects below the top menu bar will match the indentation of the Home button*/
.main{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-left: 55px;
    padding-bottom: 2.5rem;
}
/*Style the footer*/
#footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  color: black;
  line-height: 40px;
  font-size: 0.7em;
  line-height: 1.5em;
  text-align: center;
}

/*Assignment 1*/
/*Homepage boxing*/
@media(min-width:468px){
  .plainBodyTextContainer{
    display:flex;
  }
/*Empty space for the left side*/
.plainleftSidebox{
  flex:1;
  order:1;
}
/*Center-top box for text display*/
.plainBodyBox{
  flex:2;
  order:2;
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  color:black;
  background-color:#f4f4f4;
}
/*Empty space for the right side*/
.plainrightSidebox{
  flex:1;
  order:3;
}
/*Image styling for Assignment 1*/
/*Adjust profile picture to be uniform*/
#profilePicture{
  position: relative;
  width:248px;
  height:248px;
  margin-left: 15%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/*Assignment 2*/
/*Styling for Assignment 2 Flexboxes*/
/*Top row boxes for text display*/
@media(min-width:468px){
    .container-1{
      display:flex;
    }
/*Empty space for the left side*/
  .leftSidebox-1{
    flex:1;
    order:1;
  }
/*Center-top box for text display*/
  .box-1{
    flex:2;
    order:2;
    border-style: solid;
    border-color: #ccc;
    border-width: 10px 10px 5px 10px;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    color:black;
    background-color:white;
  }
  /*Empty space for the right side*/
  .rightSidebox-1{
    flex:1;
    order:3;
  }
  /*2nd row boxes for the Foreground Buttons Container*/
  @media(min-width:468px){
    .container-2{
      display:flex;
      max-height: 3x;
    }  
/*Empty space for the left side*/
  .leftSidebox-2{
    flex:1;
    order:1;
  }
/*Center-middle box for foreground buttons*/
  .box-2{
    flex:2;
    order:2;
    border-style: solid;
    border-color: #ccc;
    border-width: 0px 10px 0px 10px;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    background-color:#ccc;
  }
  /*Empty space for the right side*/
  .rightSidebox-2{
    flex:1;
    order:3;
  }
/*3rd row boxes for the Background Buttons Container*/
    @media(min-width:468px){
    .container-3{
      display:flex;
    }  
/*Empty space for the left side*/
  .leftSidebox-3{
    flex:1;
    order:1;
  }
/*Center-bottom box for background buttons*/
  .box-3{
    flex:2;
    order:2;
    border-style: solid;
    border-color: #ccc;
    border-width: 0px 10px 10px 10px;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    background-color:#ccc;
  }
/*Empty space for the right side*/
  .rightSidebox-3{
    flex:1;
    order:3;
  }
/*Increase the text size of the Assignment 2 Buttons*/
.buttonColorSwitcher{
    font-size: 20px;
  }
/*Change the text color of the Assignment 2 Buttons*/
#buttonFA{
  color:#80d6ff;
}
#buttonFB{
  color:#c7a4ff;
}
#buttonFC{
  color:#b2fab4;
}
#buttonFD{
  color:#ffff81;
}
#buttonFE{
  color:#ffa4a2;
}
#buttonBA{
  color:#1976d2;
}
#buttonBB{
  color:#512da8;
}
#buttonBC{
  color:#388e3c;
}
#buttonBD{
  color:#e65100;
}
#buttonBE{
  color:#d32f2f;
}